<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a class="nav-link <%= currentPath === '/ticketing' ? 'active' : '' %>" href="/ticketing">
      <i class="bi bi-grid-1x2-fill me-1"></i> Dashboard
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= currentPath === '/ticketing/stock' ? 'active' : '' %>" href="/ticketing/stock">
      <i class="bi bi-stack me-1"></i> Manage Stock
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= currentPath === '/ticketing/distribute' ? 'active' : '' %>" href="/ticketing/distribute">
      <i class="bi bi-person-check-fill me-1"></i> Distribute & Settle
    </a>
  </li>
</ul>